.todo__item {
    font-size: 22px;
    min-height: 60px;
    list-style: none;
    padding: 0 16px 0 60px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #ffff;
    margin: 0 0 12px;
    border-radius: 6px;

    &:hover .icon_times {
        color: rgba(175, 47, 47, 0.9);
    }
}

.text {
    color: #575757;
}

.completed {
    text-decoration: line-through;
}

.completed,
.icon_check_circle {
    color: #ccc;
}

.icon_times {
    transition: all .3s ease;
    color: rgba(175, 47, 47, 0.15);
}

.mark {
    position: absolute;
    left: 20px;
    font-style: normal;
}
