.todo__wrapper {
    max-width: 460px;
    margin: 0 auto;
    position: relative;
    background-color: #e0e3e6;
    box-shadow: 0 0 6px 0 #0000001a;
    border-radius: 6px;
    padding: 10px 15px;
}
