.todo__input__wrapper {
    position: relative;
    margin: 0 0 15px;
}

.todo__input {
    padding: 16px;
    border: none;
    background: #ffffff;
    width: 100%;
    box-sizing: border-box;
    font-size: 26px;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 #999999;
    outline: none;

    &::placeholder {
        color: #909090;
        font-size: 22px;
    }
}

.icon__wrapper {
    position: absolute;
    font-size: 24px;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
}

.todo-input::-webkit-input-placeholder {
    font-family: 'Indie Flower', cursive;
}
.todo-input::-moz-placeholder {
    font-family: 'Indie Flower', cursive;
}
.todo-input:-moz-placeholder {
    font-family: 'Indie Flower', cursive;
}
.todo-input:-ms-input-placeholder {
    font-family: 'Indie Flower', cursive;
}
